/**
 * General
 */

.gform_body {
	color: #403b39;
	margin-top: 20px;
}
.gform_body .gfield {
	margin-bottom: 11px;
}
.gform_body .gfield_label {
	font-weight: bold;
}
.gform_body input[type='text'],
.gform_body input[type='email'],
.gform_body input[type='tel'],
.gform_body select,
.gform_body textarea {
	background: #fff;
	border: #d5d2d1 solid 1px;
	padding: 4px;
}
.gform_body select {
	height: 24px;
}
.gform_body .gfield_checkbox input,
.gform_body .gfield_radio input {
	margin-right: 5px;
}
.gform_footer input[type='submit'],
.gform_page_footer input[type='submit'],
.gform_page_footer input[type='button'] {
	display: -moz-inline-box; /* FF2 */
	display: inline-block; /* Standard. IE8+, Saf, FF3+ */
	/**
	 * @bugfix inline-block fix
	 * @see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
	 * @valid no
	 */
	zoom: 1;
	*display: inline;
	
	border: 0;
	color: #fff;
	font: bold 22px "Garage Gothic", sans-serif;
	padding: 7px 15px;
	text-transform: uppercase;
}
.gform_body .validation_message,
form .validation_error {
	display: none;
}
.gform_body .gfield_error .gfield_label {
	color: #f00;
}

/**
 * Contact Us
 */

.xd-form-contact-us {
	text-transform: none;
}
.xd-form-contact-us .xd-gfield-name-first,
.xd-form-contact-us .xd-gfield-name-last,
.xd-form-contact-us .xd-gfield-email,
.xd-form-contact-us .xd-gfield-phone,
.xd-form-contact-us .xd-gfield-city, 
.xd-form-contact-us .xd-gfield-state, 
.xd-form-contact-us .xd-gfield-zip {
	float: left;
}
.xd-form-contact-us .xd-gfield-name-first,
.xd-form-contact-us .xd-gfield-email,
.xd-form-contact-us .xd-gfield-city,
.xd-form-contact-us .xd-gfield-state {
	margin-right: 20px;
}
.xd-form-contact-us .xd-gfield-email,
.xd-form-contact-us .xd-gfield-addr,
.xd-form-contact-us .xd-gfield-comments {
	clear: left;
}
.xd-form-contact-us .gfield_required {
	color: #14B6EA;
}
.xd-form-contact-us .xd-gfield-addr2 {
	margin-top: -5px;
}
.xd-form-contact-us input[type='text'],
.xd-form-contact-us input[type='email'],
.xd-form-contact-us input[type='tel'] {
	width: 190px;
}
.xd-form-contact-us .xd-gfield-state select,
.xd-form-contact-us .xd-gfield-zip input[type='text'] {
	width: 85px;
}
.xd-form-contact-us .xd-gfield-addr input[type='text'],
.xd-form-contact-us .xd-gfield-comments textarea {
	width: 410px;
}
.xd-form-contact-us .xd-gfield-comments textarea {
	height: 80px;
}
.xd-form-contact-us .xd-gfield-comments {
	margin-bottom: 26px;
}
.xd-form-contact-us input[type='submit'] {
	background: #14B6EA;
	bottom: 0;
	position: absolute;
	right: 0;
}


/**
 * Volunteer
 */

.xd-form-volunteer {
	position: relative;
	text-transform: none;
}
.xd-form-volunteer .gfield_required {
	color: #E04242;
}
.xd-form-volunteer .xd-gfield-name-first,
.xd-form-volunteer .xd-gfield-name-last,
.xd-form-volunteer .xd-gfield-city, 
.xd-form-volunteer .xd-gfield-state, 
.xd-form-volunteer .xd-gfield-zip {
	float: left;
}
.xd-form-volunteer .xd-gfield-email,
.xd-form-volunteer .xd-gfield-phone {
	clear: left;
}
.xd-form-volunteer .xd-gfield-name-first,
.xd-form-volunteer .xd-gfield-city,
.xd-form-volunteer .xd-gfield-state {
	margin-right: 20px;
}
.xd-form-volunteer input[type='text'],
.xd-form-volunteer input[type='email'],
.xd-form-volunteer input[type='tel'] {
	width: 190px;
}
.xd-form-volunteer .xd-gfield-state select,
.xd-form-volunteer .xd-gfield-zip input[type='text'] {
	width: 85px;
}
.xd-form-volunteer input[type='email'] {
	width: 410px;
}
.xd-form-volunteer .xd-gfield-interests {
	margin-bottom: 26px;
}
.xd-form-volunteer .xd-gfield-interests li {
	white-space: nowrap;
	width: 50%;
}
.xd-form-volunteer .xd-gfield-sign-me-up {
	font-style: italic;
}
.xd-form-volunteer input[type='submit'] {
	background: #E04242;
	bottom: 0;
	position: absolute;
	right: 0;
}


/**
 * Donations
 */

.xd-form-donations {
	min-height: 300px;
	position: relative;
	text-transform: none;
}
.xd-form-donations .xd-gfield-info {
	color: #6FB118;
	font-style: italic;
	padding-right: 179px;
}
.xd-form-donations .gfield_required {
	color: #6FB118;
}
.xd-form-donations .xd-gfield-donation-level-personal li,
.xd-form-donations .xd-gfield-donation-level-corporate li {
	white-space: nowrap;
}
.xd-form-donations .xd-gfield-donation-level-personal li {
	width: 16.666%;
}
.xd-form-donations .xd-gfield-donation-level-corporate li {
	width: 25%;
}
.xd-form-donations input[type='button'],
.xd-form-donations input[type='submit'] {
	background: #6FB118;
}
.xd-form-donations .gform_page_footer {
	text-align: right;
}
.xd-form-donations .xd-page-final .gform_page_footer {
	bottom: 15px;
	position: absolute;
	right: 0;
}
.xd-form-donations .xd-gfield-header h2 {
	font: bold 14px 'Lato', sans-serif;
	text-transform: uppercase;	
}
.xd-form-donations .xd-gfield-name-first,
.xd-form-donations .xd-gfield-name-last,
.xd-form-donations .xd-gfield-email, 
.xd-form-donations .xd-gfield-company, 
.xd-form-donations .xd-gfield-city, 
.xd-form-donations .xd-gfield-state, 
.xd-form-donations .xd-gfield-zip {
	float: left;
}
.xd-form-donations .xd-gfield-addr,
.xd-form-donations .xd-gfield-send-me {
	clear: left;
}
.xd-form-donations .xd-gfield-name-first,
.xd-form-donations .xd-gfield-email,
.xd-form-donations .xd-gfield-city,
.xd-form-donations .xd-gfield-state {
	margin-right: 20px;
}
.xd-form-donations input[type='text'],
.xd-form-donations input[type='email'],
.xd-form-donations input[type='tel'] {
	width: 190px;
}
.xd-form-donations .xd-gfield-state select,
.xd-form-donations .xd-gfield-zip input[type='text'] {
	width: 85px;
}
.xd-form-donations .xd-gfield-addr input[type='text'] {
	width: 410px;
}
.xd-form-donations .xd-gfield-send-me {
	margin-bottom: 26px;
}


/**
 * Donate Object
 */

.xd-form-donate-object {
	position: relative;
	text-transform: none;
}
.xd-form-donate-object .gfield_required {
	color: #6FB118;
}

.xd-form-donate-object .xd-gfield-name-first,
.xd-form-donate-object .xd-gfield-name-last,
.xd-form-donate-object .xd-gfield-email,
.xd-form-donate-object .xd-gfield-phone {
	float: left;
}
.xd-form-donate-object .xd-gfield-comments {
	clear: left;
}
.xd-form-donate-object .xd-gfield-name-first,
.xd-form-donate-object .xd-gfield-email {
	margin-right: 20px;
}
.xd-form-donate-object input[type='text'],
.xd-form-donate-object input[type='email'],
.xd-form-donate-object input[type='tel'] {
	width: 190px;
}
.xd-form-donate-object .xd-gfield-comments textarea {
	height: 80px;
	width: 410px;
}
.xd-form-donate-object .gform_footer {
	text-align: right;
}
.xd-form-donate-object input[type='button'],
.xd-form-donate-object input[type='submit'] {
	background: #6FB118;
}